.how-banner {

  display: flex;
  flex-direction: column;
  background-size: cover;
  align-items: center;
  gap: 25px;
  padding: 25px;

}

.text-container {

  width: 50vw;
  flex-direction: column;
  background-size: cover;
  background-position: center;
  align-items: center;
  gap: 25px;
  padding: 25px;

}

.how-banner .title-text {

    font-size: 3rem;
    text-align: center;

  }

.how-banner .text-std {

    font-size: 20px;
    text-align: center;

  }

.how-banner .text-bold {

    font-size: 20px;
    text-align: center;
    font-weight: bold;

  }

.how-banner .text-fancy {

    font-size: 25px;
    max-width: 80%;
    height: fit-content;
    text-align: center;
    font-family: Bad Script, fantasy;

  }