{%extends "0 - layout.html"%}
{%block title%}Results{%endblock%}
{%block content%}

<link rel="stylesheet" href="static/base.css"/>

<div class="home-banner">
  <h1 class="home-title-text">Our Mission</h1>
  <span class="home-text-fancy">
    Welcome to our Carbon Footprint Calculator! Take control of your
    environmental impact and pave the way to a more sustainable
    lifestyle. Our user-friendly tool empowers individuals like you to
    calculate their carbon footprint based on their unique lifestyle
    choices
  </span>
  <a href='/explanation'>
    <button class="home-button button">How it works</button>
  </a>
  <span class="home-text-fancy">
    Start calculating your carbon footprint today and pave the way
    towards a more sustainable and environmentally conscious lifestyle.
    Together, we can make a difference for a greener tomorrow!
  </span>
</div>
<form class="home-form" method="POST" action="/results">

  <fieldset class="subsection-class">
    <legend class="text-title">DIET</legend>
    <span class="text-explain">
      Enter below what you eat in a typical week
    </span>
    <div class="subsection-container">
      <fieldset class="container-sub-subsection">
        <legend>Protein</legend>
        <div class="input_container">
          <span class="property-name">Beef</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="beef_herd"
          />
        </div>
        <div class="input_container">
          <span class="property-name">
            Beef <span class="small">(dairy herd)</span>
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="beef_dairy"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Lumb & Mutton</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="lumb_mutton"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Cheese</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="cheese"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Poultry meat</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="poultry_meat"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Pig meat</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="pig_meat"
          />
        </div>
        <div class="input_container">
          <span class="property-name">
            Prawns <span class="small">(farmed)</span>
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="prawns_farmed"
          />
        </div>
        <div class="input_container">
          <span class="property-name">
            Fish <span class="small">(farmed)</span>
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="fish_farmed"
          />
        </div>
        <div class="input_container">
          <span class="property-name">
            Fish <span class="small">(wild catch)</span>
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="fish_wildcatch"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Eggs</span>
          <input
            type="text"
            placeholder="[number/week]"
            class="text-input input"
            name="eggs"
          />
        </div>
      </fieldset>
      <fieldset class="container-sub-subsection">
        <legend>Carbohydrates</legend>
        <div class="input_container">
          <span class="property-name">Pasta</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="pasta"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Bread</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="bread"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Wheat & Rye</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="wheat_rye"
          />
        </div>
        <div class="input_container">
          <span class="property-name">
            Maize <span class="small">(corn)</span>
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="maize"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Rice</span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="rice"
          />
        </div>
        <div class="input_container">
          <span class="property-name">Cane sugar </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="text-input input"
            name="cane_sugar"
          />
        </div>
      </fieldset>
      <fieldset class="container-sub-subsection">
        <legend>Vegetables & Others</legend>
        <div class="input_container">
          <span class="home-text065">
            <span>Apples</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/week]"
            class="home-textinput16 input"
            name="apples"
          />
        </div>
        <div class="input_container">
          <span class="home-text068">
            <span>Chocolate</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="home-textinput17 input"
            name="chocolate"
          />
        </div>
        <div class="input_container">
          <span class="home-text071">
            <span>Coffee</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[cup/week]"
            class="home-textinput18 input"
            name="coffee"
          />
        </div>
        <div class="input_container">
          <span class="home-text074">
            <span>Tomatoes</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="home-textinput19 input"
            name="tomatoes"
          />
        </div>
        <div class="input_container">
          <span class="home-text077">
            <span>Peas</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="home-textinput20 input"
            name="peas"
          />
        </div>
        <div class="input_container">
          <span class="home-text080">
            <span>Soy milk</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[litre/week]"
            class="home-textinput21 input"
            name="soy_milk"
          />
        </div>
        <div class="input_container">
          <span class="home-text083">
            <span>Olive oil</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="home-textinput22 input"
            name="olive_oil"
          />
        </div>
        <div class="input_container">
          <span class="home-text086">
            <span>Milk</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[litre/week]"
            class="home-textinput23 input"
            name="milk"
          />
        </div>
        <div class="input_container">
          <span class="home-text089">
            <span>Groundnuts</span>
            <br />
          </span>
          <input
            type="text"
            enctype="[litre/week]"
            placeholder="[g/week]"
            class="home-textinput24 input"
            name="groundnuts"
          />
        </div>
        <div class="input_container">
          <span class="home-text092">
            <span>Bananas</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/week]"
            class="home-textinput25 input"
            name="bananas"
          />
        </div>
        <div class="input_container">
          <span class="home-text095">
            <span>Root</span>
            <br />
            <span>vegetables</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="home-textinput26 input"
            name="root_vegetables"
          />
        </div>
        <div class="input_container">
          <span class="home-text100">
            <span>Citrus fruit</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/week]"
            class="home-textinput27 input"
            name="citrus_fruit"
          />
        </div>
        <div class="input_container">
          <span class="home-text103">
            <span>Nuts</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[g/week]"
            class="home-textinput28 input"
            name="nuts"
          />
        </div>
      </fieldset>
    </div>
  </fieldset>
  <fieldset class="subsection-class">
    <legend class="text-title">TRANSPORT</legend>
    <span class="text-explain">
      Enter below how many kilometers you travel in a typical week/year
    </span>
    <div class="subsection-container">
      <fieldset class="container-sub-subsection">
        <legend>Public transport</legend>
        <div class="home-container39">
          <span class="home-text108">
            <span>Bus</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput29 input"
            name="bus"
          />
        </div>
        <div class="home-container40">
          <span class="home-text111">
            <span>National rail</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput30 input"
            name="national_rail"
          />
        </div>
        <div class="home-container41">
          <span class="home-text114">
            <span>Ferry</span>
            <br />
            <span class="home-text117">(foot passanger)</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput31 input"
            name="ferry"
          />
        </div>
        <div class="home-container42">
          <span class="home-text119">
            <span>
              <span>Eurostar</span>
              <span></span>
            </span>
            <span class="home-text123">(international rail)</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput32 input"
            name="eurostar"
          />
        </div>
      </fieldset>
      <fieldset class="container-sub-subsection">
        <legend>Motorized Individual Traffic</legend>
        <div class="home-container44">
          <span class="home-text130">
            <span>Medium car Petrol</span>
            <br />
          </span>
          <select required="" class="home-select" name="passangers_petrol">
            <option value="1" selected="">1 passenger</option>
            <option value="2">2 passengers</option>
            <option value="3">3 passengers</option>
            <option value="4">4 passengers</option>
            <option value="5">5 passengers</option>
          </select>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput33 input"
            name="mediumcar_petrol"
          />
        </div>
        <div class="home-container45">
          <span class="home-text133">
            <span>Medium car Diesel</span>
            <br />
          </span>
          <select required="" class="home-select1" name="passangers_diesel">
            <option value="1" selected="">1 passenger</option>
            <option value="2">2 passengers</option>
            <option value="3">3 passengers</option>
            <option value="4">4 passengers</option>
            <option value="5">5 passengers</option>
          </select>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput34 input"
            name="mediumcar_diesel"
          />
        </div>
        <div class="home-container46">
          <span class="home-text136">
            <span>Motorcycle</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput35 input"
            name="motorcycle"
          />
        </div>
        <div class="home-container45">
          <span class="home-text139">
            <span>Medium electric vehicle</span>
            <br />
          </span>
           <select required="" class="home-select1" name="passangers_electric">
             <option value="1" selected="">1 passenger</option>
             <option value="2">2 passengers</option>
             <option value="3">3 passengers</option>
             <option value="4">4 passengers</option>
             <option value="5">5 passengers</option>
           </select>
          <input
            type="text"
            placeholder="[km/week]"
            class="home-textinput36 input"
            name="electric_vehicle"
          />
        </div>
      </fieldset>
      <fieldset class="container-sub-subsection">
        <legend>Flights</legend>
        <div class="home-container49">
          <span class="home-text143">
            <span>Domestic flight</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/year]"
            class="home-textinput37 input"
            name="domestic_flight"
          />
        </div>
        <div class="home-container50">
          <span class="home-text146">
            <span>Short</span>
            <br />
            <span>haul-flight</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/year]"
            class="home-textinput38 input"
            name="short_flight"
          />
        </div>
        <div class="home-container51">
          <span class="home-text151">
            <span>Long</span>
            <br />
            <span>haul-flight</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[km/year]"
            class="home-textinput39 input"
            name="long_flight"
          />
        </div>
      </fieldset>
    </div>
  </fieldset>
  <fieldset class="subsection-class">
    <legend class="text-title">HOME</legend>
    <span class="text-explain">
      Enter below some information about your home
    </span>
    <div class="subsection-container">
      <fieldset class="container-sub-subsection">
        <legend>General Info</legend>
        <div class="home-container54">
          <span class="home-text157">
            <span>Number of family members</span>
            <br />
          </span>
          <input
            type="text"
            required=""
            placeholder="[number]"
            class="home-textinput40 input"
            name="number_family"
          />
          <div data-thq="thq-dropdown" class="home-thq-dropdown list-item">
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle"
            >
              <span class="home-text160">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list">
              <li data-thq="thq-dropdown" class="home-dropdown list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle01"
                >
                  <span class="home-text161">
                    The number of family member is a mandatory input. It
                    allow to distribute some home impact on all the family
                    components
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown01 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown02 list-item"
              ></li>
            </ul>
          </div>
        </div>
        <div class="home-container62">
          <span class="home-text197">Heating</span>
          <div class="home-container63">
            <span class="home-text198">Efficiency class</span>
            <select class="home-select2" name="efficiency_class">
              <option value="15" selected="">A+</option>
              <option value="22,5">A</option>
              <option value="40">B</option>
              <option value="60">C</option>
              <option value="80">D</option>
              <option value="105">E</option>
              <option value="140">F</option>
              <option value="180">G</option>
            </select>
          </div>
          <div class="home-container64">
            <span class="home-text199">House area</span>
            <input
              type="text"
              placeholder="[m^2]"
              class="home-textinput48 input"
              name="heating"
            />
          </div>
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown08 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle16"
            >
              <span class="home-text200">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow08"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon16">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list08">
              <li data-thq="thq-dropdown" class="home-dropdown24 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle17"
                >
                  <span class="home-text201">
                    Choose the efficiency class of your house and into the
                    input box insert the surface area of your house. It
                    consider a Gas direct use. The total impact of heating
                    is divided by the number of family members
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown25 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown26 list-item"
              ></li>
            </ul>
          </div>
        </div>
        <div class="home-container65">
          <span class="home-text202">Cooling</span>
          <div class="home-container66">
            <span class="home-text203">Power</span>
            <input
              type="text"
              placeholder="[kW]"
              class="home-textinput49 input"
              name="cooling_power"
              required=""
            />
          </div>
          <div class="home-container67">
            <span class="home-text204">Hot days</span>
            <input
              type="text"
              placeholder="[days/year]"
              class="home-textinput50 input"
              name="hot_days"
              required=""
            />
          </div>
          <div class="home-container68">
            <span class="home-text205">Hours per day</span>
            <input
              type="text"
              placeholder="[hours/day]"
              class="home-textinput51 input"
              name="cooling"
            />
          </div>
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown09 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle18"
            >
              <span class="home-text206">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow09"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon18">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list09">
              <li data-thq="thq-dropdown" class="home-dropdown27 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle19"
                >
                  <span class="home-text207">
                    Insert the mean power of your cooling system, the hot
                    days during an year that you suppose to use it, and how
                    many hours per day. If you don't have a cooling system,
                    insert zero in these 3 boxes because the code require an
                    input.
                    The total impact of cooling is
                    divided by the number of family members
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown28 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown29 list-item"
              ></li>
            </ul>
          </div>
        </div>
      </fieldset>
      <fieldset class="container-sub-subsection">
        <legend>Home Appliances</legend>
        <div class="home-container55">
          <span class="home-text162">
            <span>Refrigerator</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number]"
            class="home-textinput41 input"
            name="refrigerator"
          />
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown01 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle02"
            >
              <span class="home-text165">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow01"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon02">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list01">
              <li data-thq="thq-dropdown" class="home-dropdown03 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle03"
                >
                  <span class="home-text166">
                    Insert the number of refrigerator that you have into
                    your house. The total impact of refrigerator is divided
                    by the number of family members
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown04 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown05 list-item"
              ></li>
            </ul>
          </div>
        </div>
        <div class="home-container56">
          <span class="home-text167">
            <span>Food cooking</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/day]"
            class="home-textinput42 input"
            name="food_cooking"
          />
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown02 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle04"
            >
              <span class="home-text170">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow02"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon04">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list02">
              <li data-thq="thq-dropdown" class="home-dropdown06 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle05"
                >
                  <span class="home-text171">
                    Insert the number of meals that you prepare in a typical
                    day. Counting only 1 time meals done together with
                    family members. The total impact of meals is divided by
                    the number of family members
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown07 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown08 list-item"
              ></li>
            </ul>
          </div>
        </div>
        <div class="home-container57">
          <span class="home-text172">
            <span>Oven</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/week]"
            class="home-textinput43 input"
            name="oven"
          />
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown03 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle06"
            >
              <span class="home-text175">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow03"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon06">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list03">
              <li data-thq="thq-dropdown" class="home-dropdown09 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle07"
                >
                  <span class="home-text176">
                    Insert the number of times that your family use the
                    oven. The impact of the oven is not considered into the
                    'Food cooking' part.The total impact of oven utilization
                    is divided by the number of family members
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown10 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown11 list-item"
              ></li>
            </ul>
          </div>
        </div>
        <div class="home-container58">
          <span class="home-text177">
            <span>Washing machine</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/week]"
            class="home-textinput44 input"
            name="washing_machine"
          />
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown04 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle08"
            >
              <span class="home-text180">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow04"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon08">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list04">
              <li data-thq="thq-dropdown" class="home-dropdown12 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle09"
                >
                  <span class="home-text181">
                    Insert the number of times that you use washing machine
                    in a week . The total impact of washing machine
                    utilization is divided by the number of family members
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown13 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown14 list-item"
              ></li>
            </ul>
          </div>
        </div>
      </fieldset>
      <fieldset class="container-sub-subsection">
        <legend>Other</legend>
        <div class="home-container59">
          <span class="home-text182">
            <span>N° of Shower</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/week]"
            class="home-textinput45 input"
            name="shower"
          />
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown05 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle10"
            >
              <span class="home-text185">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow05"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon10">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list05">
              <li data-thq="thq-dropdown" class="home-dropdown15 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle11"
                >
                  <span class="home-text186">
                    Insert the number of showers that you have into a
                    typical week
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown16 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown17 list-item"
              ></li>
            </ul>
          </div>
        </div>
        <div class="home-container60">
          <span class="home-text187">
            <span>Laptop</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number]"
            class="home-textinput46 input"
            name="laptop"
          />
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown06 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle12"
            >
              <span class="home-text190">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow06"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon12">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list06">
              <li data-thq="thq-dropdown" class="home-dropdown18 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle13"
                >
                  <span class="home-text191">
                    Insert the number of laptop that you personally use.
                    We use the average life cycle impact in order to calculate the daily impact
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown19 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown20 list-item"
              ></li>
            </ul>
          </div>
        </div>
        <div class="home-container61">
          <span class="home-text192">
            <span>Smartphone</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number]"
            class="home-textinput47 input"
            name="smartphone"
          />
          <div
            data-thq="thq-dropdown"
            class="home-thq-dropdown07 list-item"
          >
            <div
              data-thq="thq-dropdown-toggle"
              class="home-dropdown-toggle14"
            >
              <span class="home-text195">Info</span>
              <div
                data-thq="thq-dropdown-arrow"
                class="home-dropdown-arrow07"
              >
                <svg viewBox="0 0 1024 1024" class="home-icon14">
                  <path d="M426 726v-428l214 214z"></path>
                </svg>
              </div>
            </div>
            <ul data-thq="thq-dropdown-list" class="home-dropdown-list07">
              <li data-thq="thq-dropdown" class="home-dropdown21 list-item">
                <div
                  data-thq="thq-dropdown-toggle"
                  class="home-dropdown-toggle15"
                >
                  <span class="home-text196">
                    Insert the number of smartphones that you personally use.
                    We use the average life cycle impact in order to calculate the daily impact
                  </span>
                </div>
              </li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown22 list-item"
              ></li>
              <li
                data-thq="thq-dropdown"
                class="home-dropdown23 list-item"
              ></li>
            </ul>
          </div>
        </div>
      </fieldset>
    </div>
  </fieldset>
  <fieldset class="subsection-class">
    <legend class="text-title">CLOTHES</legend>
    <span class="text-explain">
      Enter below how many clothes you buy in a year
    </span>
    <div class="subsection-container">
      <fieldset class="container-sub-subsection">
        <div class="input_container">
          <span class="home-text209">
            <span>Cotton</span>
            <br />
            <span>shirt</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/year]"
            class="home-textinput52 input"
            name="cotton_shirt"
          />
        </div>
        <div class="input_container">
          <span class="home-text214">
            <span>Cotton sweat jacket</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/year]"
            class="home-textinput53 input"
            name="cotton_sweatjacket"
          />
        </div>
        <div class="input_container">
          <span class="home-text217">
            <span>Acrylic jacket</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/year]"
            class="home-textinput54 input"
            name="acrylic_jacket"
          />
        </div>
        <div class="input_container">
          <span class="home-text220">
            <span>Woolen sweater</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/year]"
            class="home-textinput55 input"
            name="woolen_sweater"
          />
        </div>
        <div class="input_container">
          <span class="home-text223">
            <span>Polyester shirt</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/year]"
            class="home-textinput56 input"
            name="polyester_shirt"
          />
        </div>
        <div class="input_container">
          <span class="home-text226">
            <span>Jeans</span>
            <br />
          </span>
          <input
            type="text"
            placeholder="[number/year]"
            class="home-textinput57 input"
            name="jeans"
          />
        </div>
      </fieldset>
    </div>
  </fieldset>

  <div class="subsection-class">
    <span class="home-text-fancy">
      Once you have filled you data hit the bottom below!!
    </span>
    <button class="home-button button">Calculate</button>
  </div>

</form>

{%endblock%}