{%extends "Eng/0 - layout.html" %}
{%block title%}Results{%endblock%}
{%block content%}
<link href="static/how-it-works.css" rel="stylesheet" />
<div class="how-banner">
  <div class="ovr_container">
    <div class="text-container">
      <span class="title-text">
        How it works ?
      </span>
    </div>
    <div class="text-container">
	  <span class="text-fancy">
		A brief introduction to CarbonApp
	  </span>
	  <br>
      <span class="text-std">
        Carbonapp is an app that helps calculate <span class="text-bold">carbon dioxide equivalent emissions
      </span> <a href="https://ec.europa.eu/eurostat/statistics-explained/index.php?title=Glossary:Carbon_dioxide_equivalent#:~:text=A%20carbon%20dioxide%20equivalent%20or,with%20the%20same%20global%20warming" target=”_blank” rel="noopener" style="color:#005B8F;">
		  <span class="text-bold">(definition)</span> </a> based on the lifestyle of each individual.
          To estimate the impact caused by an individual, reference is made to data provided directly by the user.
          This data is then translated into an emission factor using formulas found in the scientific literature.
          The sources are given in an excel file that can be downloaded at the bottom of the page.
      </span>
    </div>
	<div class="text-container">
	  <span class="text-std">
        The tool has been originally developed by <span class="text-bold">Pietro Gradi, Valerio Nardo Marino</span> and <span class="text-bold">Farid Hosen</span> under the supervision of 
		<span class="text-bold">Alessia Manfredi, Pietro Ungar</span> and <span class="text-bold">Giampaolo Manfrida</span> from the 
		<a href="https://www.dief.unifi.it/vp-177-serg-group-english-version.html" target=”_blank” style="color:#005B8F;">
		  <span class="text-bold">SERG Group</span>
		</a> of the University of Florence in the scope of the sustainable energy course of the master degree of 
		<a href="https://www.ingegneria.unifi.it/vp-453-lm-mechanical-engineering-for-sustainability.html" target=”_blank” style="color:#005B8F;">
		  <span class="text-bold">Mechanical Engineering for Sustainability</span>
		</a>.
	  </span>
    </div>
	<div class="text-container">
	  <span class="text-std">
        For <span class="text-bold">further explainations</span> or <span class="text-bold">suggestions</span> you can contact
		<a href="mailto:alessia.manfredi@unifi.it" style="color:#005B8F;">
		  <span class="text-bold">Alessia Manfredi</span>
		</a> or
		<a href="mailto:pietro.ungar@unifi.it" style="color:#005B8F;">
		  <span class="text-bold">Pietro Ungar</span>
		</a>. 
	  </span>
    </div>
    <div class="text-container">
	  <span class="text-fancy">
		How to use it?
	  </span>
	  <br>
      <span class="text-std">

          In the <span class="text-bold">Diet</span> section, the user must enter data on the food intake for a typical week, indicating the average quantities consumed.
          Similarly, under <span class="text-bold">Transport</span>, information must be entered concerning weekly travel, excluding kilometres travelled on foot or by bicycle, which are not taken into account.
          Similarly, in the <span class="text-bold">House</span>, the first information to be entered is the number of people you live with and the emissions for each individual; this concerns collective emissions such as those related to heating or the use of the washing machine.
          Finally, in the <span class="text-bold">Clothes</span> section, you must indicate the number of items of clothing bought each year.

      </span>
    </div>
    <div class="text-container">
      <span class="text-std">
       Once you have finished filling in all the fields, you can view the results by clicking on <span class="text-bold">"Calculate"</span>.

      </span>
    </div>
  </div>
  <div class="subsection-class">
  <span class="home-text-fancy">
   By clicking on the following link you can download the excel file containing the sources and data used for the creation of this site
  </span>
  <a href="/references_eng">
    <button class="home-button button">References</button>
  </a>
</div>
</div>
{%endblock%}

{%block finalremarks%}
{%endblock%}