{%extends "Eng/0 - layout.html" %}
{%block title%}Results{%endblock%}
{%block content%}
<div class="home-banner">
  <div class="ovr_container">
    <div class="title-text">Our Mission</div>
    <div class="text-fancy">
     Welcome to the Carbon Footprint Calculator of the University of Florence!
        This simple tool allows you to become aware of your environmental impact, encouraging a more eco-friendly lifestyle.
        Together we can make a difference for a better future!
    </div>
  </div>
  <div class="vl"></div>
  <div class="background-button">
    <a href='/explanation_eng'>
      <button class="home-button button">How it works</button>
    </a>
  </div>
</div>
{%block form%}
{%endblock%}
{%endblock%}