{%extends "Ita/0 - layout.html" %}
{%block title%}Results{%endblock%}
{%block content%}
<div class="home-banner">
  <div class="ovr_container">
    <div class="title-text"> Il nostro obbiettivo </div>
    <div class="text-fancy">
      Benvenuto nel Carbon Footprint Calculator dell' università degli studi di Firenze!
        Questo semplice strumento ti permette di prendere coscienza del tuo impatto ambientale, incoraggiando uno stile di
        vita più ecosostenibile. Insieme possiamo fare la differenza per un futuro migliore!

    </div>
  </div>
  <div class="vl"></div>
  <div class="background-button">
    <a href='/explanation'>
      <button class="home-button button"> Come funziona ?</button>
    </a>
  </div>
</div>
{%block form%}
{%endblock%}
{%endblock%}